h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span #[strong 230101239-03]. Desarrollar acciones para la prevención de la anemia en los diferentes entornos de acuerdo con los lineamientos vigentes.






