.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Anemia: 
            | la anemia es un trastorno en el que el número y tamaño de los eritrocitos, o bien cuando la concentración de hemoglobina, caen por debajo de un determinado valor de corte disminuyendo así la capacidad de la sangre para el transporte de oxígeno en el organismo.
        hr

        p
            strong.mr-2 Antihelmínticos:
            | medicamento o sustancia que actúa contra los gusanos parásitos. 
        hr

        p
            strong.mr-2 Endémico:
            | significa que una enfermedad se presenta en una población o lugar específico.

        hr

        p
            strong.mr-2 Determinantes Sociales: 
            | “Propiedades basadas en el estilo de vida afectadas por amplias fuerzas sociales, económicas y políticas que influyen en la calidad de la salud personal” (Cardona, Arias J, 2017). La Organización Mundial de la Salud (OMS) los define como “las circunstancias en que las personas nacen, crecen, viven, trabajan y envejecen” 

        hr

        p
            strong.mr-2 Desarrollo integral:
            | proceso de transformación continuo, complejo y sistémico que vive el ser humano a partir de sus capacidades, habilidades, potencialidades y experiencias, que contribuye a la construcción de su identidad, al logro progresivo de la autonomía para edificar su vida y al afianzamiento de su responsabilidad social. (Gobierno de Colombia, 2018). 

        hr

        p
            strong.mr-2 Hambre oculta -“Cuando el exceso esconde la escasez”:
            | el hambre oculta es definida por la Organización Mundial de Salud (OMS) como una deficiencia de micronutrientes (vitaminas y minerales). Se trata de un desequilibrio en la alimentación producido por el consumo insuficiente o deficiente de los alimentos que son fuentes de estos micronutrientes esenciales, tales como frutas, legumbres y verduras, pescados y aceites vegetales, además de la leche y sus derivados.            


        hr

        p
            strong.mr-2 Ferropenia:
            | la Ferropenia “es una deficiencia de hierro que tiene consecuencias graves para la salud y en términos económicos”. “La anemia ferropénica compromete la habilidad del niño para aprender, lo que limita aún más sus perspectivas de futuro lo que, en términos agregados, dificulta el desarrollo de la población”. “La deficiencia de hierro es la deficiencia de micronutrientes más extendida del mundo a menudo resulta en deficiencia crónica de hierro o anemia por deficiencia de hierro (definido por la Organización Mundial de la Salud (OMS) como los niveles de hemoglobina de = 11 g / dl). Los valores de corte varían según la edad, el sexo, la altitud, el tabaquismo y el estado de embarazo”   



        hr

        p
            strong.mr-2 Hemoglobina:
            | compuesto complejo de proteínas y hierro presente en los glóbulos rojos de la sangre. Su función es transportar el oxígeno desde los pulmones hasta los tejidos. También actúa en sentido inverso para transportar el dióxido de carbono de desecho desde los tejidos a los pulmones.        



        hr

        p
            strong.mr-2 IEC:
            | Información Educación y Comunicación.                                             

        hr

        p
            strong.mr-2 Minuta patrón:
            | patrón de alimentos por grupos, en medidas, cantidades y frecuencias, para consumir en uno o varios tiempos de comida, que se ajusta a los requerimientos calóricos y de nutrientes de una población determinada de acuerdo con el ciclo vital en que se encuentre. Es una herramienta que permite planear en forma racional la alimentación de una población objetivo y se considera como el punto de partida para la programación de los ciclos de menús.(ICBF, 2020).                 