.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 AGI: 
            | Ácidos Grasos Insaturados
        hr

        p
            strong.mr-2 GABA:
            | Guías Alimentarias Basadas en Alimentos
        hr

        p
            strong.mr-2 Mortalidad:
            | es el número de muertes en una población de acuerdo a un tiempo determinado.

        hr

        p
            strong.mr-2 Morbilidad: 
            | es el índice de personas que padecen una enfermedad en una región y período determinado.

        hr

        p
            strong.mr-2 Morbimortalidad:
            | se refiere al conjunto de enfermedades mortales que han afectado a una cantidad de personas en un tiempo y lugar determinados.    