.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td Bienestar Familiar (2020). Guía técnica del componente de alimentación y nutrición para los programas y proyectos misionales del ICBF
                    td PDF
                    td 
                        a(href="https://www.icbf.gov.co/system/files/procesos/g6.pp_guia_tecnica_del_componente_de_alimentacion_nutricion_icbf_v5.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver