include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas
 

    .jumbotron.bg-white.referencias

        +referenciaItem("Cardona-Arias JA.(2017). Determinantes sociales del parasitismo intestinal, la desnutrición y la anemia: revisión sistemática. ","https://iris.paho.org/bitstream/handle/10665.2/34366/v41e1432017.pdf")

        +referenciaItem("Feldman, L. (2011). Anemias: Epidemiología, Fisiología, Diagnóstico y Tratamiento. La anemia en el adulto mayor. Una crisis en la salud pública. Hematología, 15(2), 35-42. ","http://www.sah.org.ar/revista/numeros/vol15.n2.35-42.pdf")

        +referenciaItem("Fishman, SM, Christian, P. y West, KP (2000). El papel de las vitaminas en la prevención y el control de la anemia. Nutrición de salud pública , 3 (2), 125-150. ","https://pubmed.ncbi.nlm.nih.gov/10948381/")

        +referenciaItem("Gillespie, S., Mason, J., & Martorell, R. (1996). How nutrition improves. ","https://www.unscn.org/layout/modules/resources/files/Policy_paper_No_15.pdf")

        +referenciaItem("ICBF-FAO (2019). Estrategia de Información, Educación y Comunicación IEC en Seguridad Alimentaria y Nutricional SAN para el fomento de prácticas de alimentación saludable. Convenio No. 1259 de 2019 ICBF-FAO.") 
        +referenciaItem("ICBF. (2020). Guía técnica del componente de alimentación y nutrición para los programas y proyectos misionales del ICBF V5. Bogotá D.C. ","https://www.icbf.gov.co/system/files/procesos/g6.pp_guia_tecnica_del_componente_de_alimentacion_nutricion_icbf_v5.pdf")

        +referenciaItem("ICBF. (2020). Lineamiento técnico para la atención a la primera infancia V5. ","https://www.icbf.gov.co/system/files/procesos/lm5.pp_lineamiento_tecnico_para_la_atencion_a_la_primera_infancia_v5.pdf") 

        +referenciaItem("Leite, P. (2016). OPS OMS| Anemia ferropénica: Investigación para soluciones eficientes y viables. Pan American Health Organization, World Health Organization. ","https://www.paho.org/hq/index.php?option=com_content&view=article&id=11679:iron-deficiency-anemia-research-on-iron-fortification-for-efficient-feasible-solutions&Itemid=40275&lang=es")

        +referenciaItem("MINSALUD. (2015). Estrategia Nacional para la prevención y control de las deficiencias de Micronutrientes en Colombia 2014-2021. ","https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PP/SNA/Estrategia-nacional-prevencion-control-deficiencia-micronutrientes.pdf")  

        +referenciaItem("MINSALUD. (2016). ABECÉ del Control y la Prevención de la deficiencia de micronutrientes. Obtenido de ","https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PP/SNA/abc_micronutrientes.pdf")  

        +referenciaItem("Organización Mundial de la Salud - OMS. (2017). Metas mundiales de nutrición 2025: documento normativo sobre retraso del crecimiento. ","https://apps.who.int/iris/bitstream/handle/10665/255735/WHO_NMH_NHD_14.3_spa.pdf?ua=1") 

        +referenciaItem("Organización Panamericana de la Salud (s,f), Asegurando un inicio saludable para un desarrollo futuro: El hierro durante los primeros seis meses de vida. ","https://www.paho.org/hq/dmdocuments/2009/Asegurando%20un%20inicio%20saludable%20para%20un%20desarrollo%20futuro.pdf")

        +referenciaItem("Gobierno de Colombia, (2018). Todos por la infancia y la adolescencia, Política Nacional de Infancia y Adolescencia - Ruta Integral de Atenciones. ","https://www.icbf.gov.co/system/files/politica_nacional_de_infancia_y_adolescencia_-_ria.pdf")

        +referenciaItem("WHO (2020). Guideline on use of ferritin concentrations to assess iron status in individuals and populations. Geneva: World Health Organization. Licence: CC BY-NC-SA 3.0 IGO. ","https://www.who.int/publications/i/item/9789240000124")



        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            