.container

    .header-ecored
        h1 4. Guías alimentarias basadas en alimentos para mujeres gestantes, madres en periodo de lactancia y niños y niñas menores de 2 años de Colombia

    .card

        .card-body.p-5
            h2.mb-0 4.1.	Mujeres de las GABA para mujeres gestantes:

        .bg-color-piel.p-5

            .row.align-items-center
                .col-4
                    p.text-center
                        img(src="assets/images/pages/tema-4/tema-41.svg").img-fluid

                .col-8
                    .row.justify-content-center.mt-4
                        .col-11
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Por su salud y la de su bebé, consuma alimentos frescos, variados y naturales, como lo indica el "Plato Saludable de la familia colombiana".
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Comparta y disfrute en compañía, alimentos tradicionales y saludables.
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Por su salud y la de su bebé, no consuma comidas rápidas, gaseosas, bebidas azucaradas, bebidas energizantes y productos de paquete.
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Para tener un embarazo saludable, reduzca el consumo de sal y evite carnes frías, salsas, caldos en cubo y sopas de sobre.
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Asista a los controles prenatales desde que se entere de que está embarazada, esto contribuye a su buen estado de salud y el de su bebé. 
                                
                            p.mt-4 #[strong (ICBF-FAO,2018)]

        .card-body.p-5
            h2.mb-0 4.2. Madres de las GABA para las madres en periodo de lactancia (ICBF-FAO,2018).

        .bg-color-piel.p-5

            .row.align-items-center
                .col-4
                    p.text-center
                        img(src="assets/images/pages/tema-4/tema-42.svg").img-fluid

                .col-8
                    .row.justify-content-center.mt-4
                        .col-11
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Alimente a su bebé con leche materna, esto contribuye a recuperar su peso, prevenir el cáncer de mama, de ovario y fortalece el vínculo entre madre e hijo.
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Aumente el consumo de agua y prefiera alimentos como carnes, vísceras, pescado, lácteos, huevos, leguminosas, frutas y verduras.
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Como mujer lactante tiene el derecho a que su pareja, familia y sociedad la apoyen para hacer de la lactancia materna una práctica exitosa.
                               
                            p.mt-4 #[strong (ICBF-FAO,2018)]

        .card-body.p-5
            h2.mb-0 4.3. Mensajes de las GABA para niños y niñas menores de 2 años:

        .bg-color-piel.p-5

            .row.align-items-center
                .col-4
                    p.text-center
                        img(src="assets/images/pages/tema-4/tema-43.svg").img-fluid

                .col-8
                    .row.justify-content-center.mt-4
                        .col-11
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Para que los niños y niñas crezcan sanos e inteligentes, bríndeles solamente leche materna durante los primeros seis meses de vida.
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Como trabajador de la salud promueva, proteja y apoye la lactancia materna, no regale, ni incentive el consumo de leches de tarro, en polvo o líquidas
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Para favorecer la salud y nutrición de los niños y niñas, ofrezca a partir de los seis meses de edad alimentos variados, frescos y naturales, preparados en el hogar y continúe amamantando hasta los 2 años o más.
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Desde los seis meses de edad ofrezca a los niños y niñas la diversidad de alimentos propios de su territorio.
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Permita al bebé el contacto con los alimentos mientras come, para que experimente de forma segura sus texturas, olores y sabores.
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span No ofrezca a su niño o niña leches de tarro, compotas comerciales, cereales de caja para bebés, productos de paquete, carnes frías, comidas rápidas y bebidas azucaradas.
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Para el desarrollo de los niños y las niñas promueva actividades que involucren el juego y el movimiento.
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span En el momento de la alimentación evité la televisión, teléfono y otras distracciones.
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Reflexione sobre la información y publicidad de alimentos y bebidas presentada en la televisión, radio y otros medios de comunicación, no toda está orientada a favorecer su salud y nutrición, consulte las Guías Alimentarias Basadas en Alimentos.
                             
                            p.mt-4 #[strong (ICBF-FAO,2018)]                            


        .card-body.p-5
            h2.mb-0 4.4 Guía para la introducción de alimentos para niños y niñas de 6 a 23 meses:

        .bg-color-piel.p-5

            .row.align-items-center
                .col-4
                    p.text-center
                        img(src="assets/images/pages/tema-4/tema-44.svg").img-fluid

                .col-8
                    .row.justify-content-center.mt-4
                        .col-11

                            h3.mb-5 a.	6 a 8 meses
                        

                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Continúe ofreciendo leche materna a su bebé todas las veces que lo pida. 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Ofrezca comidas muy espesas en puré, hasta que aparezca la habilidad de masticar. 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Inicie con 4 a 6 cucharadas postreras por comida, hasta llegar gradualmente a media taza (4 onzas).
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span La frecuencia de comidas debe ser progresiva, hasta llegar a tres comidas diarias a los 8 meses. 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span No adicione sal, azúcar, ni condimentos a las preparaciones. 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Prefiera siempre los alimentos preparados en casa.
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Incluya diariamente en las comidas una porción de alimentos de origen animal como carnes, vísceras, huevos y quesos frescos. 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Ofrezca un alimento nuevo a la vez junto con uno ya conocido. Introduzca uno nuevo 2 a 4 días después según la tolerancia del bebé.

                            h3.mb-5.mt-6 b.	9 a 11 meses

                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Continúe ofreciendo leche materna a su bebé todas las veces que el bebé quiera. 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span De los 9 a 11 meses ofrezca alimentos finamente picados, machacados y que el bebé pueda coger con la mano. 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span La cantidad de alimentos por comida es de media taza (4 onzas). 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Ofrezca al menos 3 comidas diarias y uno o dos refrigerios de acuerdo al apetito de su bebé. 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span No adicione sal, azúcar, ni condimentos a las preparaciones. 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Prefiera siempre los alimentos preparados en casa.
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Incluya diariamente en las comidas una porción de alimentos de origen animal como carnes, vísceras, huevos y quesos frescos. 

                            h3.mb-5.mt-6 c.	12 a 23 meses

                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Continúe dando de lactar las veces que el niño o la niña quiera, después de las comidas. 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span A los 12 meses, la mayoría de los niños tienen la capacidad para comer los mismos alimentos consumidos por el resto de la familia. 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Ofrezca la variedad de alimentos sólidos, con algunas texturas modificadas: picados, molidos, trozos pequeños. 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span La cantidad de alimentos por comida principal es de 1 taza o plato (8 onzas). 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Ofrezca al menos 3 comidas diarias y de acuerdo al apetito de su bebé 1 o 2 refrigerios. 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span No ofrezca productos procesados como los de paquete, bebidas azucaradas, embutidos, entre otros. 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span No adicione sal, azúcar, ni condimentos a las preparaciones. 
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Prefiera siempre alimentos preparados en casa.
                            .d-flex.align-items-center.mb-3
                                span.mr-3 
                                    img(src="assets/images/pages/tema-4/flecha.svg")
                                span Incluya diariamente en las comidas una porción de alimentos de origen animal como carnes, vísceras, huevos y quesos frescos.


                            p.mt-4 #[strong (ICBF-FAO,2018)]        


        .card-body

            p.mt-5 Para ampliar la información relacionada con el proceso de revisión y actualización de las GABA para mujeres gestantes, madres en periodo de lactancia, niños y niñas menores de 2 años, la evidencia científica, las recomendaciones técnicas y los patrones alimentarios por grupos de edad, se puede consultar las “Guías alimentarias basadas en alimentos para mujeres gestantes, madres en periodo de lactancia y niños y niñas menores de 2 años” y el documento técnico descrito en el tema anterior. (ICBF-FAO, 2018).


            section.my-4

                a(href="media/documentos/Anexo6_gabasmenor2anos_infografia_2018.pdf" target="_blank").media-link      
    
                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p #[strong Anexo]. 
                        p.mt-3 Guías alimentarias basadas en alimentos para mujeres gestantes, madres en período de lactancia y niños y niñas menores de 2 años de Colombia.