.container

    .header-ecored
        h1 3. Estrategias de prevención


    .card

        .card-body.p-5

            .row.align-items-center
                .col
                    p Dentro de las acciones específicas para prevenir, atender y controlar el efecto de la deficiencia de micronutrientes, se cuenta con la estrategia nacional para la prevención y control de las deficiencias de micronutrientes en Colombia 2014-2021, que presenta como principal objetivo “Prevenir y reducir las deficiencias de micronutrientes en la población colombiana, con énfasis en niños y niñas hasta 12 años, gestantes y mujeres en edad fértil” (MINSALUD, 2015). 

                .col-auto
                    img(src="assets/images/pages/tema-3/tema-3-p1.jpg").img-fluid


            h2.mt-6 3.1 Líneas de acción para la prevención y control de las deficiencias de micronutrientes

            p.mt-4 Para alcanzar este objetivo e impactar de manera favorable y sostenible se proponen 5 líneas de acción, las cuales deben ser implementadas de manera articulada con individuos y comunidades para lograr reducir la deficiencia nutricional y mejorar la calidad de vida:

            #collapsable22.accordion.mt-5
                .card
                    #headingOne11.card-header
                        h2.mb-0
                            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne11', aria-expanded='true', aria-controls='collapseOne11').pl-0
                                h3.mb-0.collapsable-title.d-flex.align-items-center 1.	Diversificación de la alimentación

                    #collapseOne11.collapse.show(aria-labelledby='headingOne11', data-parent='#collapsable22')
                        .card-body

                            p Busca promover la combinación de alimentos variados, nutritivos, propios de las regiones y en cantidades adecuadas que permitan el aporte de nutrientes sugeridos para la edad y estado fisiológico de la población, sin alterar su relación con las costumbres y reconociendo que los usos de los alimentos son el producto de su ambiente actual y de su historia (MINSALUD, 2016).

                            p.mt-4 Para mejorar la disponibilidad, el acceso y utilización de los alimentos con un alto contenido y biodisponibilidad de micronutrientes de manera permanente, es necesario conocer los patrones de la dieta de las poblaciones, creencias y preferencias alimentarias a fin de promover el desarrollo de capacidades y cambios efectivos en actitudes y prácticas relacionadas con la producción de alimentos, los patrones de selección de alimentos y métodos tradicionales de preparación de alimentos que conllevan al consumo de una alimentación variada y adecuada según el curso de vida (MINSALUD, 2015).

                            p.mt-4 En este sentido, las Guías Alimentarias Basadas en Alimentos y no en nutrientes, permiten una mejor aceptación y comprensión por parte de las poblaciones y de los individuos para seleccionar los alimentos de acuerdo con sus necesidades, favoreciendo de manera integral la selección de la alimentación saludable considerándose una herramienta importante para la educación nutricional en diferentes entornos como los programas de alimentación, nutrición en los hogares, escuelas, universidades y en general en los espacios que involucren a todas las personas (MINSALUD, 2015).



                .card
                    #headingTwo11.card-header
                        h2.mb-0
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo11', aria-expanded='false', aria-controls='collapseTwo11').pl-0
                                h3.mb-0.collapsable-title.d-flex.align-items-center 2.	Fortalecimiento de acciones prioritarias
                    #collapseTwo11.collapse(aria-labelledby='headingTwo11', data-parent='#collapsable22')
                        .card-body

                            p Este tipo de acciones parten de considerar que la deficiencia de micronutrientes, en este caso el hierro, puede ser reversible si se trata a tiempo antes y durante la gestación y periodo de lactancia, por lo tanto, las intervenciones que se realicen entre la concepción y los primeros dos años de vida serán fundamentales para asegurar la productividad, el nivel académico y social de estos individuos (MINSALUD, 2015).

                            .row.justify-content-center
                                .col-11

                                    .d-flex.align-items-center.mt-4.mb-3
                                        span.mr-3 
                                            img(src="assets/images/pages/tema-3/flecha.svg")
                                        span #[strong.text-color-1 Pinzamiento del cordón umbilical cuando deje de latir.]
                                    
                                    p.mt-3 El pinzamiento, clampeo o ligadura oportuna del cordón umbilical consiste en permitir el flujo de sangre placentaria al niño recién nacido hasta que el cordón deje de latir, es decir hasta que cese el paso de sangre por el cordón (2 a 3 minutos aproximadamente), o hasta que deje de latir, para luego proceder a pinzarlo y a cortarlo. (MINSALUD, 2015).  

                                    p.mt-3 Esta medida reduce el riesgo de anemia ya que permite aumentar las reservas de hierro desde el nacimiento hasta los 6 - 8 meses de edad del niño. Es una práctica altamente costo-efectiva. Esta medida se complementa con lactancia materna inmediata y exclusiva.

                                    .d-flex.align-items-center.my-3
                                        span.mr-3 
                                            img(src="assets/images/pages/tema-3/flecha.svg")
                                        span #[strong.text-color-1 Lactancia materna y alimentación complementaria.]
                                    
                                    p.mt-3 Las acciones de protección, promoción y apoyo a la lactancia materna están en el marco del cumplimiento de compromisos internacionales como la Estrategia Mundial para la Alimentación del Lactante y del Niño Pequeño, reafirmando que una de las áreas prioritarias son las acciones de nutrición en los mil primeros días de vida con énfasis en lactancia materna y alimentación complementaria.

                                    p.mt-3 La evidencia científica confirma los múltiples beneficios de la lactancia materna, tanto para los niños como para la madre, entre ellos: los niños amamantados presentan mejores resultados en pruebas de desarrollo intelectual y motor, el contacto físico entre la madre y el hijo proporciona un estímulo psicosocial y beneficios al desarrollo.  La OMS establece que es el método de alimentación infantil más seguro y saludable.

                                    p.mt-3 La leche materna aporta en su composición hierro que se absorbe en un 50% (el aportado por las fórmulas lácteas se absorbe en un 15%), adicionalmente, la presencia de la lactoferrina que actúa como enzima fijadora de hierro e inhibe el crecimiento de bacterias patógenas en el tracto gastrointestinal.

                                    p.mt-3 Así mismo, la utilización de leche de vaca en el primer año de vida está contraindicada tanto por el bajo contenido de hierro como por el riesgo de micro hemorragias intestinales ya que hay relación entre el consumo de leche de vaca y la pérdida de sangre por el tracto intestinal de niños saludables con edades entre 7 y 12 meses (MINSALUD, 2015)

                                    .d-flex.align-items-center.my-3
                                        span.mr-3 
                                            img(src="assets/images/pages/tema-3/flecha.svg")
                                        span #[strong.text-color-1 Desparasitación.]
                                    
                                    p.mt-3 Es una estrategia de salud pública que consiste en la administración masiva de antihelmínticos con una regularidad establecida, utilizada en poblaciones en riesgo de transmisión de geohelmintiasis, con personas que cumplan con criterios de inclusión (población elegible), en áreas endémicas. Esta intervención requiere de acciones sobre los diferentes determinantes sociales de la salud, de manera intersectorial, como es el acceso al agua potable, La presencia de las geohelmintiasis está directamente relacionada con anemia crónica por deficiencia de hierro y de micronutrientes, retraso en el crecimiento y obstrucción intestinal.

                                    
                .card
                    #headingThree11.card-header
                        h2.mb-0
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree11', aria-expanded='false', aria-controls='collapseThree11').pl-0
                                h3.mb-0.collapsable-title.d-flex.align-items-center 3.	Fortificación.
                    #collapseThree11.collapse(aria-labelledby='headingThree11', data-parent='#collapsable22')
                        .card-body
                            
                            p Hace referencia a la adición de micronutrientes a los alimentos procesados. En Colombia se plantean los siguientes métodos, la elección del método depende del nutriente y alimento. (MINSALUD, 2015).


                            .row.justify-content-center
                                .col-11

                                    .d-flex.align-items-center.mt-4.mb-3
                                        span.mr-3 
                                            img(src="assets/images/pages/tema-3/flecha.svg")
                                        span #[strong.text-color-1 Fortificación de alimentos de consumo masivo.]
                                    
                                    p.mt-3 Se define como la adición de uno o más nutrientes esenciales a un alimento si está o no contenido normalmente en la comida, con el propósito de prevenir o corregir una deficiencia demostrada de uno o más nutrientes en la población o en grupos específicos de la población. Para la fortificación de alimentos con hierro se utilizan alimentos como: productos cereales, pan y harina de yuca, en Colombia se fortifica la sal y la harina de trigo como medida de salud pública para la reducción de deficiencia de Hierro, Flúor, Ácido Fólico, Yodo, Vitamina B y Calcio.


                                    .d-flex.align-items-center.mt-4.mb-3
                                        span.mr-3 
                                            img(src="assets/images/pages/tema-3/flecha.svg")
                                        span #[strong.text-color-1 Fortificación de alimentos específicos.]
                                    
                                    p.mt-3 Los Alimentos Complementarios Fortificados (ACF) hacen referencia a aquellos con los cuales se inicia la alimentación complementaria en los niños a partir de los 6 meses y que complementan la lactancia materna en los niños y niñas hasta los 2 años y que han sido fortificados con micronutrientes para mejorar el aporte nutricional de vitaminas y minerales. (MINSALUD, 2015). Colombia cuenta con alimentos fortificados como los Alimentos de alto Valor Nutricional, entre ellos la bienestarina Mas®, bienestarina líquida, alimento para la mujer gestante y madre en periodo de lactancia, son fortificados con ácido fólico, hierro aminoquelado y zinc aminoquelado.

                                    .d-flex.align-items-center.mt-4.mb-3
                                        span.mr-3 
                                            img(src="assets/images/pages/tema-3/flecha.svg")
                                        span #[strong.text-color-1 Fortificación casera con micronutrientes en polvo.]
                                    
                                    p.mt-3 Consiste en agregar una mezcla de micronutrientes en polvo a los alimentos preparados en casa. La presentación de este polvo es en sobres individuales, que contienen la dosis diaria lista para consumo. La evidencia científica ha demostrado que la fortificación casera de alimentos en niños y niñas menores de 5 años y mujeres gestantes, es efectiva en la reducción de la anemia por deficiencia de hierro nutricional.

                .card
                    #heading4.card-header
                        h2.mb-0
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapsable4', aria-expanded='false', aria-controls='collapsable4').pl-0
                                h3.mb-0.collapsable-title.d-flex.align-items-center 4.	Biofortificación o fortificación biológica de los alimentos
                    #collapsable4.collapse(aria-labelledby='heading4', data-parent='#collapsable22')
                        .card-body
                            p Es el proceso mediante el cual se obtienen alimentos vegetales que resultan enriquecidos en micronutrientes biodisponibles. Estos cultivos “se fortifican a sí mismos”, y soportan altos niveles de minerales y vitaminas en sus semillas y raíces, los cuales serán cosechados y consumidos. Esta es una estrategia innovadora para el abordaje de la desnutrición por micronutrientes de manera sostenible. (MINSALUD, 2015).

                .card
                    #heading5.card-header
                        h2.mb-0
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapsable5', aria-expanded='false', aria-controls='collapsable5').pl-0
                                h3.mb-0.collapsable-title.d-flex.align-items-center 5.	Suplementación con micronutrientes.
                    #collapsable5.collapse(aria-labelledby='heading5', data-parent='#collapsable22')
                        .card-body
                            p Es el mejoramiento de la ingesta de nutrientes a través de formas farmacéuticas por vía oral o parenteral. Principalmente se realiza suplementación de Hierro, Vitamina A, Zinc, Ácido Fólico, Calcio, o cualquier otra vitamina o mineral que sea deficiente en la población; siendo esta una medida que permite la atención individualizada y logra impacto a corto plazo en la población definida para intervención. (MINSALUD, 2015).


            h2.mt-6 3.2.	Información educación y comunicación.         


            .row.mt-5
                .col
                    p Las estrategias de Información, Educación y Comunicación (IEC), son consideradas complementarias y necesarias para la prevención y control de la anemia, dado que articuladas con las diferentes acciones propuestas pueden favorecer de manera positiva las prácticas de alimentación, nutrición y estilos de vida saludables.

                    p.mt-4  Las estrategias están enfocadas en el desarrollo de habilidades de los sujetos para tomar decisiones adecuadas en cuanto a su alimentación y en la promoción de un ambiente alimentario propicio. Las acciones de educación nutricional se desarrollan en los ámbitos individual, comunitario, y político.

                    p.mt-4 En este sentido el ICBF cuenta con la Estrategia de Información, Educación y Comunicación en Seguridad Alimentaria y Nutricional, la cual es definida como un “conjunto de acciones educativas que buscan el cambio permanente de comportamientos para favorecer prácticas alimentarias saludables; dirigida a audiencias activas y participantes en el hogar, la escuela, el sitio de trabajo y/o la comunidad”. (ICBF-FAO. 2019)

                    p.mt-4 Por lo tanto, el diseño de las estrategias IEC deben tener en cuenta aspectos claves como las líneas orientadoras de la Estrategia Nacional de IEC en SAN del ICBF, las cuales, contribuyen a lograr el cambio del comportamiento, entre las que se encuentran:

                .col-auto
                    img(src="assets/images/pages/tema-3/tema-32.svg").img-fluid


            .row.justify-content-center.align-items-start.mt-5
                .col-12.col-lg-7
                    hr
                    p.header-step
                        span.header-step-number #[strong.text-color-1 a.]
                        span.header-step-title
                            | La influencia que tienen los entornos (individual, familiar, comunitario, institucional, nacional) a partir del modelo ecológico social para entender que los comportamientos y la toma de decisiones de las personas.
                    hr
                    p.header-step
                        span.header-step-number.text-color-1 #[strong.text-color-1 b.]
                        span.header-step-title
                            strong
                            | La educación alimentaria y nutricional (EAN) como proceso sistemático, que debe considerar las motivaciones e intereses de las personas, su entorno, permitiendo promover aprendizajes prácticos y habilidades orientadas a la acción.
                    hr

                    p.header-step
                        span.header-step-number.text-color-1 #[strong.text-color-1 c.]
                        span.header-step-title
                            strong
                            | Las habilidades blandas del agente educativo facilitador que permitan interactuar y comunicarse de manera efectiva.
                    hr                      
                    p.header-step
                        span.header-step-number #[strong.text-color-1 d.]
                        span.header-step-title
                            | Los Principios de efectividad, que parten de considerar los conocimientos previos y los intereses prácticos de las personas y comunidades.
                    hr
                    p.header-step
                        span.header-step-number.text-color-1 #[strong.text-color-1 e.]
                        span.header-step-title
                            strong
                            | Estrategias apropiadas de aprendizaje que permita hacer uso de los diferentes órganos de los sentidos (oído, vista, olfato, gusto y tacto).
                    hr

                    p.header-step
                        span.header-step-number.text-color-1 #[strong.text-color-1 f.]
                        span.header-step-title
                            strong
                            | Monitoreo y evaluación de las acciones que realiza en la estrategia. 
                    hr  