.container

    .header-ecored
        h1 1. Micronutrientes


    .card
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/AWAWIphdleo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .card-body.p-5

            .card
                .card-body

                    .row.align-items-center
                        .col-auto
                            img(src='assets/images/pages/tema-1/label-SitioWeb.png').img-fluid

                        .col
                            p #[strong.text-color-1 Anexo.] #[strong Carencia de micronutrientes].
                            p.mt-2 Puede ahondar sobre la carencia de micronutrientes a través del sitio web de la Organización Mundial de la Salud.
                            p.mt-2
                                a(href="https://www.who.int/nutrition/topics/ida/es/", target="_blank").text-color-1 https://www.who.int/nutrition/topics/ida/es/
                        .col-auto
                            img(src='assets/images/pages/tema-1/icon-www.svg').img-fluid



            h2.mt-6 1.1.	Vitaminas 


            p.mt-4 Las vitaminas son sustancias necesarias para el funcionamiento celular, crecimiento y desarrollo normal.

            p.mt-4 Cuando no se obtiene suficiente cantidad de cierta vitamina se produce una deficiencia vitamínica, que pueden causar problemas de salud, por ejemplo el consumo insuficiente de frutas, verduras, legumbres, lentejas, granos integrales y productos lácteos enriquecidos puede incrementar el riesgo de problemas de salud, como enfermedad cardíaca, cáncer y deficiencia ósea (osteoporosis).

        .bg-color-yellow
            .row.align-items-center
                .col
                    .pl-5
                        p Existen 13 vitaminas esenciales que el cuerpo requiere para que funcione apropiadamente y cada una cumple una función importante y específica: Vitamina A, Vitamina C, Vitamina D, Vitamina E, Vitamina K, Vitamina B1 o tiamina, Vitamina B2 o riboflavina, Vitamina B3 o niacina, Ácido pantoténico o B5, Biotina o B7, Vitamina B6, Vitamina B12  o cianocobalamina, Folato o ácido fólico o B9.

                .col-auto
                    img(src='assets/images/pages/tema-1/foto-11.jpg').img-fluid


        #tabla-vitaminas.card-body.p-5

            p.mt-4 La función de cada una de las vitaminas y su alimento fuente se presenta en la siguiente tabla:

            .row.justify-content-center
                .col-11
                    .row.align-items-center.mt-4.fila-1
                        .col
                            .p-3
                                strong Vitamina
                        .col
                            .p-3
                                strong Función
                        .col
                            .p-3
                                strong Alimentos que lo contienen


                    .row.fila-2
                        .col
                            .p-3
                                strong Vitamina A
                        .col
                            .p-3
                                p Formación y mantenimiento de dientes, tejidos óseos y blandos, membranas mucosas y piel sanos.
                        .col
                            .p-3
                                p Frutas de color oscuro, Hortalizas de hoja verde, Yema de huevo, Productos lácteos y leche enriquecidos (queso, yogur, mantequilla y crema de leche), Hígado, carne de res y pescado



                    .row.fila-3
                        .col
                            .p-3
                                strong Vitamina B6 piridoxina
                        .col
                            .p-3
                                p Formación de glóbulos rojos y al mantenimiento de la función cerebral. Juega un papel importante en las proteínas que participan de muchas reacciones químicas en el cuerpo: A más proteína se consuma, más piridoxina requiere su cuerpo.
                        .col
                            .p-3
                                p Aguacate, Plátano (banano), Legumbres (frijoles secos), Carne de res, Nueces, Carne de aves de corral, Granos integrales (la molienda y el procesamiento eliminan mucha de esta vitamina)                      

                    .row.fila-3
                        .col
                            .p-3
                                strong Vitamina B12
                        .col
                            .p-3
                                p Importante para el metabolismo, ayuda a la formación de glóbulos rojos y al mantenimiento del sistema nervioso central.
                        .col
                            .p-3
                                p Carne, Huevos, Alimentos fortificados como la leche de soya (soja), Leche y productos lácteos, Vísceras (hígado y riñón), Carne de aves de corral, Mariscos                       

                    .row.fila-3
                        .col
                            .p-3
                                strong Vitamina C o ácido ascórbico
                        .col
                            .p-3
                                p Es antioxidante, favorece los dientes y encías sanos. Ayuda al cuerpo a absorber el hierro y a mantener el tejido saludable. Es esencial para la cicatrización de heridas.
                        .col
                            .p-3
                                p Brócoli, Coles de Bruselas, Repollo, Coliflor, Cítricos, Patatas, Espinaca, Fresas, Tomate y jugo de tomate                      
                                

                    .row.fila-2
                        .col
                            .p-3
                                strong Vitamina D o "vitamina del sol"
                        .col
                            .p-3
                                p Se produce luego de la exposición a la luz solar con 10 a 15 minutos de exposición al sol por 3 veces a la semana son suficientes para producir los requerimientos corporales de esta vitamina para la mayoría de las personas y en la mayoría de las latitudes. Es posible que las personas que no viven en lugares soleados no produzcan suficiente vitamina D. Es difícil obtener suficiente vitamina D únicamente de fuentes alimenticias. Ayuda al cuerpo a absorber el calcio y mantener niveles sanguíneos apropiados de calcio y fósforo.
                        .col
                            .p-3
                                p Pescado (graso como el salmón, la caballa, el arenque y la perca emperador), Aceites de hígado de pescado (aceite de hígado de bacalao), Cereales enriquecidos, Productos lácteos y leche enriquecidos (queso, yogur, mantequilla y crema de leche), Vitamina E.

                    .row.fila-2
                        .col
                            .p-3
                                strong Vitamina E o tocoferol
                        .col
                            .p-3
                                p Es un antioxidante. Ayuda al cuerpo a formar glóbulos rojos y a utilizar la vitamina K.
                        .col
                            .p-3
                                p Aguacate, Hortalizas de hoja verde oscura (espinaca, brócoli, espárrago y hojas de nabo), Margarina (hechas de aceite de cártamo, maíz y girasol), Aceites (cártamo, maíz y girasol), Papaya y mango, Semillas y nueces, Germen de trigo y aceite de germen de trigo.

                    .row.fila-2
                        .col
                            .p-3
                                strong Vitamina K
                        .col
                            .p-3
                                p Sin ella, la sangre no se solidificaría (coagularía). Algunos estudios sugieren que es importante para la salud de los huesos.
                        .col
                            .p-3
                                p Repollo (col), Coliflor, Cereales, Hortalizas de hoja verde oscura (brócoli, col de Bruselas y espárrago), Verduras de hoja oscura (espinaca, col rizada, berza y hojas de nabo), Pescado, hígado, carne de res y huevos.

                    .row.fila-3
                        .col
                            .p-3
                                strong Biotina  
                        .col
                            .p-3
                                p Esencial para el metabolismo de proteínas y carbohidratos, al igual que en la producción de hormonas y colesterol.
                        .col
                            .p-3
                                p Chocolate, Cereal, Yema de huevo, Legumbres, Leche. Nueces, Vísceras (hígado, riñón), Carne de cerdo, Levadura.                              

                    .row.fila-3
                        .col
                            .p-3
                                strong Niacina o B3  
                        .col
                            .p-3
                                p Pertenece al complejo B, ayuda a mantener saludable la piel y los nervios. Reducen el colesterol en dosis altas.
                        .col
                            .p-3
                                p Aguacate, Huevos, Panes enriquecidos y cereales fortificados, Pescado (atún y peces de agua salada), Carnes magras, Legumbres, Nueces, Patata, Carne de aves de corral.                                  

                    .row.fila-3
                        .col
                            .p-3
                                strong Folato
                        .col
                            .p-3
                                p Ayudar en la formación de glóbulos rojos junto con la vitamina B12. Es necesario para la producción del ADN, que controla el crecimiento tisular y la función celular. La mujer embarazada debe asegurarse de consumir cantidades adecuadas de folato porque los niveles bajos de esta vitamina están asociados con defectos congénitos como la espina bífida. 
                        .col
                            .p-3
                                p Espárragos y brócoli, Remolachas, Levadura de la cerveza, Frijoles secos (moteado, blanco común, poroto, lima), Cereales fortificados, Hortalizas de hoja verde (espinaca y lechuga romana), Lentejas, Naranjas y jugo de naranja, Mantequilla de maní, Germen del trigo.                              

                    .row.fila-3
                        .col
                            .p-3
                                strong Ácido pantoténico  
                        .col
                            .p-3
                                p Esencial para el metabolismo de los alimentos. Desempeña un papel en la producción de hormonas y colesterol.
                        .col
                            .p-3
                                p Aguacate, Brócoli, col rizada y otras hortalizas en la familia del repollo, Huevos, Legumbres y lentejas, Leche, Champiñones, Vísceras, Carne de aves de corral, Patata blanca y camote, Cereales de granos integrales.                            

                    .row.fila-3
                        .col
                            .p-3
                                strong Riboflavina o vitamina B2.
                        .col
                            .p-3
                                p Funciona en conjunto con las otras vitaminas del complejo B. Importante para el crecimiento corporal y la producción de glóbulos rojos.
                        .col
                            .p-3
                                p Productos lácteos, Huevos, Hortalizas de hoja verde, Carnes magras, Vísceras, como hígado o riñón, Legumbres, Leche, Nueces.                                 

                    .row.fila-3
                        .col
                            .p-3
                                strong Tiamina o vitamina B1 
                        .col
                            .p-3
                                p Ayuda a las células corporales a convertir los carbohidratos en energía. Esencial para el funcionamiento del corazón y las neuronas sanas.
                        .col
                            .p-3
                                p Leche en polvo, Huevo, Pan y harina enriquecidos, Carnes magras, Legumbres (frijoles secos), Nueces y semillas, Vísceras, Guisantes, Granos integrales.                                 



                    .row.fila-4
                        .col
                            .p-3
                                strong Colina
                        .col
                            .p-3
                                p Ayuda en el funcionamiento normal del cerebro y el sistema nervioso. La falta de colina puede causar hinchazón en el hígado.
                        .col
                            .p-3
                                p Huevos, la carne roja, los cacahuetes, el pollo, el bacalao, la leche, las coles de Bruselas, el ajo, las berenjenas, la lechuga, zanahorias, plátano, pomelo, fresas, naranjas, la coliflor, el tofu o la jalea real.                                 

                    .row.fila-4
                        .col
                            .p-3
                                strong Carnitina
                        .col
                            .p-3
                                p La ayuda al cuerpo a convertir los ácidos grasos en energía.
                        .col
                            .p-3
                                p Carnes, la leche y los pescados.       


                    .row.mt-4
                        .col.fila-3
                            .p-3
                                strong Liposolubles

                        .col.fila-2
                            .p-3
                                strong Hidrosolubles

                        .col.fila-4
                            .p-3
                                strong Factores similares


            p.text-center.mt-4.text-color-secondary #[strong Fuente.] Construcción propia con fuente de información <a href="https://medlineplus.gov/" target="_blank">https://medlineplus.gov/</a>

            p.mt-6 #[strong Hay dos categorías de vitaminas y factores similares:]

            p.mt-5.text-center
                img(src='assets/images/pages/tema-1/tema-12.png').img-fluid


            .quote.my-6
                .quote__bar   
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_01.svg")
                    .quote__bar__hr
                .quote__text
                    p.mb-0 La cantidad de cada vitamina que el organismo necesita depende de la edad, sexo, estado de salud y si es una mujer en estado de embarazo.
                    p.mt-2 Para obtener todas las vitaminas diarias que se necesitan la mejor manera es consumir una dieta balanceada en calidad y cantidad que contenga frutas, verduras, productos lácteos enriquecidos, legumbres (frijoles secos), lentejas y granos integrales.
                    p.mt-2 Otra manera de obtener las vitaminas son los suplementos dietéticos que pueden ser útiles durante el embarazo y para problemas de salud especiales.

                .quote__bar 
                    .quote__bar__hr
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg")                


            h2.mt-6 1.2	Minerales 

            p.mt-4 Los minerales que necesita el organismo se llaman minerales esenciales y se dividen en minerales principales (macrominerales) y oligoelementos (microminerales). Aunque los dos tienen la misma importancia, los oligoelementos se necesitan en menores cantidades que los minerales principales.


            .row.justify-content-center
                .col-11
                    .row.align-items-center.mt-4.fila-1
                        .col
                            .p-3
                                strong Mineral
                        .col
                            .p-3
                                strong Función
                        .col
                            .p-3
                                strong Alimento fuente


                    .row.fila-2-65
                        .col
                            .p-3
                                p.text-center #[strong Macrominerales]


                    .row.fila-2
                        .col
                            .p-3
                                strong Sodio
                        .col
                            .p-3
                                p Necesario para equilibrio adecuado de líquidos, la transmisión nerviosa y la contracción muscular.
                        .col
                            .p-3
                                p Sal de mesa, salsa de soya; alimentos procesados; en la leche en pequeñas cantidades, los panes, las verduras y las carnes sin procesar.

                    .row.fila-2
                        .col
                            .p-3
                                strong Cloruro
                        .col
                            .p-3
                                p Necesario para equilibrio adecuado de líquidos, ácido estomacal.
                        .col
                            .p-3
                                p Junto con el sodio está presente en: Sal de mesa, salsa de soya; alimentos procesados; en la leche en pequeñas cantidades, los panes, las verduras y las carnes sin procesar.

                    .row.fila-2
                        .col
                            .p-3
                                strong Potasio
                        .col
                            .p-3
                                p Necesario para un equilibrio adecuado de líquidos, la transmisión nerviosa y la contracción muscular.
                        .col
                            .p-3
                                p Carnes, leche, frutas y verduras frescas, granos integrales, legumbres.                               


                    .row.fila-2
                        .col
                            .p-3
                                strong Calcio
                        .col
                            .p-3
                                p Importante para la salud de los dientes y los huesos; ayuda a relajar y a contraer los músculos; importante en el funcionamiento nervioso, la coagulación de la sangre, la regulación de la presión arterial, la salud del sistema inmunitario.
                        .col
                            .p-3
                                p Leche y productos lácteos, pescado con huesos en lata (salmón, sardinas), tofu y leche de soya fortificados, verduras (brócoli, brotes de mostaza), legumbres.


                    .row.fila-2
                        .col
                            .p-3
                                strong Fósforo
                        .col
                            .p-3
                                p Para la salud de los dientes y los huesos; se encuentra en todas las células; parte del sistema que mantiene el equilibrio acido básico.
                        .col
                            .p-3
                                p Carne, pescado, aves, huevos, leche, alimentos procesados, incluyendo las bebidas gaseosas. 

                    .row.fila-2
                        .col
                            .p-3
                                strong Magnesio
                        .col
                            .p-3
                                p Se encuentra en los huesos; necesario para producir proteína, contracción muscular, transmisión nerviosa, salud del sistema inmunitario.
                        .col
                            .p-3
                                p Frutos secos y semillas, legumbres, verduras de hoja verde, pescados y mariscos, chocolate, alcachofas, agua potable "dura".

                    .row.fila-2
                        .col
                            .p-3
                                strong Azufre
                        .col
                            .p-3
                                p Presente en las moléculas de las proteínas.
                        .col
                            .p-3
                                p Se encuentra en los alimentos como parte de la proteína: carnes, aves, pescado, huevos, leche, legumbres, frutos secos.                                                                                                                                
                    .row.fila-3-65
                        .col
                            .p-3
                                p.text-center #[strong Oligoelementos o Microminerales]                                


                    .row.fila-3
                        .col
                            .p-3
                                strong Hierro
                        .col
                            .p-3
                                p Hace parte de una molécula, la hemoglobina, que se encuentra en los glóbulos rojos y que transporta el oxígeno necesario para el metabolismo de la energía en el organismo.
                        .col
                            .p-3
                                p Vísceras, carnes rojas, pescado, aves, mariscos (especialmente las almejas), yemas de huevo, legumbres, frutas desecadas, verduras de hoja verde oscuro, panes y cereales enriquecidos con hierro, y cereales fortificados.                                   

                    .row.fila-3
                        .col
                            .p-3
                                strong Zinc
                        .col
                            .p-3
                                p Hace parte de muchas enzimas; necesario para producir proteína y material genético; tiene una función en la percepción del gusto; curación de heridas; desarrollo fetal normal; producción de semen; crecimiento y maduración sexual normales, salud del sistema inmunitario.
                        .col
                            .p-3
                                p Carnes, pescado, aves, granos integrales con levadura, verduras.

                    .row.fila-3
                        .col
                            .p-3
                                strong Yodo
                        .col
                            .p-3
                                p Está en la hormona tiroidea, que ayuda a regular el crecimiento, el desarrollo y el metabolismo.
                        .col
                            .p-3
                                p Pescados y mariscos, alimentos producidos en suelos ricos en yodo, sal con yodo, pan, productos lácteos.                                                                



                    .row.fila-3
                        .col
                            .p-3
                                strong Selenio
                        .col
                            .p-3
                                p Es un antioxidante.
                        .col
                            .p-3
                                p Carnes, pescados y mariscos, granos.                                 

                    .row.fila-3
                        .col
                            .p-3
                                strong Cobre
                        .col
                            .p-3
                                p Parte de muchas enzimas; necesario para el metabolismo del hierro.
                        .col
                            .p-3
                                p Legumbres, nueces y semillas, granos integrales, vísceras, agua potable.

                    .row.fila-3
                        .col
                            .p-3
                                strong Manganeso
                        .col
                            .p-3
                                p Hace parte de muchas enzimas.
                        .col
                            .p-3
                                p Se encuentra en muchos alimentos, especialmente en alimentos de origen vegetal.                             


                    .row.fila-3
                        .col
                            .p-3
                                strong Fluoruro
                        .col
                            .p-3
                                p Esencial en la formación de huesos y dientes. Ayuda a prevenir caries.
                        .col
                            .p-3
                                p Agua potable (tanto fluorada como naturalmente con fluoruro), pescado y la mayoría de los tés.                           

                    .row.fila-3
                        .col
                            .p-3
                                strong Cromo
                        .col
                            .p-3
                                p La insulina  y el cromo actúan estrechamente para regular los niveles de azúcar en la sangre (glucosa).
                        .col
                            .p-3
                                p Alimentos no refinados, especialmente el hígado, la levadura de cerveza, granos integrales, frutos secos, quesos.

                    .row.fila-3
                        .col
                            .p-3
                                strong Molibdeno
                        .col
                            .p-3
                                p Parte de algunas enzimas
                        .col
                            .p-3
                                p Legumbres, panes y granos, verduras de hoja y verduras de hoja verde, leche, hígado.      


            p.text-center.mt-4.text-color-secondary #[strong Fuente.] Construcción propia con fuente: <a href="https://www.cigna.com/individuals-families/health-wellness/hw-en-espanol/temas-de-salud/minerales-ta3912" target="_blank">https://www.cigna.com/individuals-families/health-wellness/hw-en-espanol/temas-de-salud/minerales-ta3912</a>                       


            p.mt-6 #[strong Hay dos categorías de minerales:]

            p.my-5.text-center
                img(src='assets/images/pages/tema-1/tema-12-2.png').img-fluid            