.container

    .header-ecored
        h1 2. Anemia


    .card(style="border-bottom: 5px solid #42A62A")

        .card-body.p-5

            p Varios estudios sugieren que la anemia puede estar asociada a una evolución desfavorable en varios desórdenes clínicos, pero en este caso se enfoca la anemia por deficiencia de micronutrientes.

            p.mt-4 El “hambre oculta” es la deficiencia de micronutrientes que se produce por el consumo insuficiente de los alimentos que son esenciales como: frutas, legumbres verduras, pescados, aceites vegetales, además de leche y derivados. Puede aparecer en personas que tienen un consumo adecuado de calorías o en las que presentan exceso de peso u obesidad.

            p.mt-4 La anemia es un indicador de mal estado de nutrición y de salud de una persona, comunidad y país. #[strong La anemia] es #[strong definida como un trastorno] #[i en el que el número y tamaño de los eritrocitos, o bien cuando la concentración de hemoglobina, caen por debajo de un determinado valor de corte disminuyendo así la capacidad de la sangre para el transporte de oxígeno en el organismo]. La Organización Mundial de la Salud (OMS) ha definido los niveles de hemoglobina iguales a 11g / dl (Los valores de corte varían según la edad, sexo, altitud, tabaquismo y estado de embarazo”). La deficiencia de hierro es el micronutriente más extendido del mundo que resulta en deficiencia crónica de hierro o anemia por deficiencia de hierro.

            h2.mt-6 2.1 Efectos individuales y colectivos de la anemia

            p.mt-4 Las causas de la anemia son diversas, y diferentes estudios demuestran que la mitad de los casos se debe a una deficiencia de hierro llamada también ferropenia. 

            p.my-4.text-center
                img(src="assets/images/pages/tema-2/tema-21.svg").img-fluid

            p.mt-4 La anemia nutricional está relacionada con otros indicadores nutricionales como retraso del crecimiento, bajo peso al nacer, sobrepeso en la infancia, lactancia materna exclusiva y emaciación.

            h3.my-5 Comprensión social y cultural

            .row.mt-4
                .col
                    p Según la OMS la deficiencia de hierro afecta a más personas que cualquier otra afección, por lo tanto, se convierte para los países en un problema de salud pública que llega a tener proporciones epidémicas.
                .col-auto
                    img(src="assets/images/pages/tema-2/logo-oms.svg").img-fluid


            p.mt-4 De acuerdo a lo anterior la prevalencia de anemia por deficiencia de hierro se da en los niños en edad preescolar, escolar, mujeres en edad fértil y mujeres gestantes. También se da en adultos, especialmente mujeres y personas de la tercera edad. 

            p.mt-4 La prevención de la anemia en embarazadas y niños menores de dos años constituye un desafío para el país. Es ideal repasar la situación de las deficiencias de micronutrientes en el documento de la ENSIN 2015 donde se presenta la deficiencia de hierro (Fe), Vitamina A y Zinc por grupos de población del curso de vida.

            h3.my-5 Efectos sociales y económicos de la anemia

            p.mt-4 La anemia por carencia de hierro tiene efectos económicos y sociales individuales, familiares y comunitarios. La ferropenia o deficiencia de hierro tienen consecuencias graves para la salud y también tiene consecuencias sociales y económicas para la familia y el país, porque se pierde fuerza laboral, aumentan los gastos en salud, afecta el desarrollo y crecimiento de la población para finalmente obstaculizar el desarrollo de los países. Los grupos de personas más afectados por la anemia son las personas más vulnerables, pobres y de menor nivel educativo. La anemia ferropénica compromete la habilidad del niño y la niña para aprender, lo que limita sus perspectivas de futuro y dificulta el desarrollo de la población. Es por ello que la OMS alerta sobre el hecho de que si la anemia se trata a tiempo es posible restablecer la salud de las personas e incrementar los niveles de productividad nacional en hasta un 20%. 


        .bg-color-gris
            .row.align-items-center
                .col
                    .pl-5
                        p La anemia por falta de hierro no se soluciona de una manera simple con consumir solamente más hierro. Para que el hierro se absorba correctamente se necesita un grupo de vitaminas y minerales que actúan en el organismo como equipo en los distintos procesos que pasan en el cuerpo.

                        p.mt-3 Este grupo de vitaminas y minerales está conformado por: la vitamina A, C, E, B12, B2, B6 y el ácido fólico que ayudan en el proceso de formación celular, movilizar el hierro y asegurar que el intestino tenga lo necesario para realizar el proceso de absorción. Esta interacción se presenta en el siguiente esquema: 

                .col-auto
                    img(src='assets/images/pages/tema-2/pastas.svg').img-fluid


        .card-body.p-5

            p.mt-4.text-center #[strong.text-brand-color-light Rol de las vitaminas en la absorción de Fe y eritropoyesis]

            p.mt-4.text-center
                img(src='assets/images/pages/tema-2/rol_vitaminas.jpg').img-fluid

            p.mt-3.text-center #[strong Fuente.] DSM – Adaptado de Hughes – Jones & Wickramasinghe, 1996 


            .row.justify-content-center
                .col-12.col-md-10
                    .quote.my-6
                        .quote__bar   
                            .quote__bar__icon
                                img(src="assets/images/icons/quote_01.svg")
                            .quote__bar__hr
                        .quote__text
                            p.mb-0 Es importante que recuerde profundizar en los determinantes de la anemia nutricional a partir de los resultados de la ENSIN 2015. 

                        .quote__bar 
                            .quote__bar__hr
                            .quote__bar__icon
                                img(src="assets/images/icons/quote_02.svg")                

            h2.mt-6 2.2 Importancia de la prevención de la anemia nutricional 


            #collapsable22.accordion.mt-5
                .card
                    #headingOne11.card-header
                        h2.mb-0
                            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne11', aria-expanded='true', aria-controls='collapseOne11').pl-0
                                h3.mb-0.collapsable-title.d-flex.align-items-center Primera infancia:

                    #collapseOne11.collapse.show(aria-labelledby='headingOne11', data-parent='#collapsable22')
                        .card-body
                            .row.align-items-center
                                .col
                                    p En la primera infancia los problemas nutricionales por la deficiencia de micronutrientes y especialmente por hierro, generan un impacto en el desarrollo físico y en el desarrollo del cerebro. Por lo cual las intervenciones nutricionales durante los primeros dos años de vida son cruciales para asegurar la productividad, el desarrollo social y económico de una población; “si las deficiencias en vitaminas y minerales no se corrigen entre la concepción y la edad de dos años, puede ser demasiado tarde para reversarlas más adelante, y constituirse en un problema de salud pública” (Gillespie, Mason, & Reynaldo, 1996). 

                                .col-auto
                                    img(src="assets/images/pages/tema-2/tema-22-1.jpg").img-fluid

                .card
                    #headingTwo11.card-header
                        h2.mb-0
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo11', aria-expanded='false', aria-controls='collapseTwo11').pl-0
                                h3.mb-0.collapsable-title.d-flex.align-items-center Niños y niñas menores de 6 meses de edad:
                    #collapseTwo11.collapse(aria-labelledby='headingTwo11', data-parent='#collapsable22')
                        .card-body
                            .row.align-items-center
                                .col
                                    p En este periodo de vida el recién nacido a término, tiene reservas de hierro altas, sin embargo, la concentración fetal cae entre los 5 y 6 meses y se requiere que los niños obtengan el hierro de fuentes exógenas como es la alimentación con leche materna y el adecuado inicio de la alimentación complementaria a los 6 meses. (Organización Panamericana de la Salud, s,f).
                                    
                                    p.mt-4 La leche materna posee una alta biodisponibilidad de hierro, lo cual permite que se absorba muy bien en el intestino. Se acepta ampliamente que la ingesta de hierro del lactante alimentado exclusivamente con leche humana debe cubrir las necesidades de hierro de todos los niños (Organización Panamericana de la Salud, s,f).
 

                                .col-auto
                                    img(src="assets/images/pages/tema-2/tema-22-2.jpg").img-fluid
                                    
                .card
                    #headingThree11.card-header
                        h2.mb-0
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree11', aria-expanded='false', aria-controls='collapseThree11').pl-0
                                h3.mb-0.collapsable-title.d-flex.align-items-center Niños y niñas de 6 a 24 meses de edad:
                    #collapseThree11.collapse(aria-labelledby='headingThree11', data-parent='#collapsable22')
                        .card-body
                            .row.align-items-center
                                .col
                                    p A los 6 meses de edad se inicia la alimentación complementaria, manteniendo la lactancia materna y la evidencia ha demostrado que es una fase de gran vulnerabilidad y un momento crucial de la alimentación del niño donde se puede presentar la malnutrición. También es uno de los periodos que más contribuye a la alta prevalencia de las deficiencias de micronutrientes en los menores de 5 años, por lo cual se requiere fortalecer la educación para fomentar el inicio de la alimentación complementaria con alimentos fuente de hierro y prever la suplementación de los nutrientes que pueden ser críticos en esta transición. 

                                .col-auto
                                    img(src="assets/images/pages/tema-2/tema-22-3.jpg").img-fluid                  

                            p.mt-4 La Organización Mundial de la Salud (OMS), en el año 2016 a través de su directriz para el uso de micronutrientes en polvo para la fortificación en sitio de consumo de los alimentos consumidos por lactantes y niños de 6 a 23 meses de edad planteó como una recomendación fuerte la fortificación de los alimentos con micronutrientes en polvo que contengan al menos hierro, vitamina A y zinc para mejorar la dotación de hierro y reducir la anemia en lactantes y niños de 6 a 23 meses de edad

            h2.mt-6 2.3. Determinantes sociales de la anemia

            p.mt-4 La Organización Panamericana de la Salud (OPS) y la Organización Mundial de la Salud (OMS) han considerado como determinantes sociales en temas de salud en tres categorías: 


            .row.mt-4.justify-content-center
                .col-11.col-md-10
                    p.mt-4 #[strong.text-color-1 a.] El individual que incluiría aspectos psicosociales. conductuales y biológicos del sujeto.
                    hr.border-color-1

                    p.mt-4 #[strong.text-color-1 b.] El intermedio referido a los recursos materiales
                    hr.border-color-1

                    p.mt-4 #[strong.text-color-1 c.] El estructural que corresponde al contexto socioeconómico. 
                    hr.border-color-1


            hr.border-color-2.my-5

            .row.align-items-center.my-5
                .col
                    p Dentro de los determinantes sociales que consideramos en la anemia se incluye el nivel educativo, empleo, nivel y distribución de los ingresos, vivienda, desarrollo de la primera infancia, seguridad alimentaria, estado nutricional, raza, género y estado de estrés.

                    p.mt-4 Algunos determinantes sociales que influyeron en la prevalencia de anemia que se presenta en la ENSIN 2015 son la deficiencia de Fe, Vitamina A y Zinc en la primera infancia y en la mujer gestante que se resumen: 
                .col-auto
                    img(src="assets/images/pages/tema-2/logo-ensin.jpg")



            .row.justify-content-center.my-5
                .col-12.col-md-8
                    p.mt-4 #[strong.text-color-4 1.] La edad en primera infancia donde se presentó mayor prevalencia de anemia a menor edad de los niños y las niñas y por lo tanto pueden sufrir las consecuencias.
                    p.mt-4 #[strong.text-color-4 2.] La etnia que encuentra mayor prevalencia en niños, niñas indígenas y afrodescendientes.
                    p.mt-4 #[strong.text-color-4 3.] Ubicación geográfica o la región donde viven determina la prevalencia en anemia.
                    p.mt-4 #[strong.text-color-4 4.] El acceso a servicios básicos. 
                    p.mt-4 #[strong.text-color-4 5.] El índice de riqueza mayor prevalencia en el cuartil más bajo de riqueza
                    p.mt-4 #[strong.text-color-4 6.] El aseguramiento de la salud tiene más prevalencia en los que no están asegurados.
                    p.mt-4 #[strong.text-color-4 7.] El control de crecimiento, desarrollo y prenatal tiene más alta prevalencia cuando los niños y niñas no asisten a control de crecimiento y desarrollo o cuando la gestante no asiste a control prenatal según lo establecido en la norma de salud.
                    p.mt-4 #[strong.text-color-4 8.] El parto no institucional pues cuando hace falta una asistencia de un servicio de salud se generan complicaciones.
                    p.mt-4 #[strong.text-color-4 9.] Presencia de otras morbilidades como episodios repetidos de diarrea (Enfermedad Diarreica Aguda), infecciones respiratorias (ERA) especialmente en niños de 6 a 11 meses.
                    p.mt-4 #[strong.text-color-4 10.] La concentración de la población es cuando es más alta la prevalencia en el área que el resto.