.container

    .header-ecored
        h1 3. Estrategias de prevención


    .card

        .card-body.p-5

            .row
                .col
                    p Dentro de las acciones específicas para prevenir, atender y controlar el efecto de la deficiencia de micronutrientes, se cuenta con la estrategia nacional para la prevención y control de las deficiencias de micronutrientes en Colombia 2014-2021, que presenta como principal objetivo “Prevenir y reducir las deficiencias de micronutrientes en la población colombiana, con énfasis en niños y niñas hasta 12 años, gestantes y mujeres en edad fértil” (MINSALUD, 2015). 

                .col-auto
                    img(src="assets/images/pages/tema-3/tema-3-p1.jpg").img-fluid


            h2.mt-6 3.1 Líneas de acción para la prevención y control de las deficiencias de micronutrientes